.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
  margin: 5px;
}

.estrutura {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  border-left: 5px solid brown;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  width: 90%;
  background-color: #0005;
  cursor: pointer;
  transition: 0.199s ease-in;
}

.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: chocolate;
  padding: 15px;
  transition: 0.3s ease-in-out;
}
.porta:hover {
  background-color: rgb(210, 129, 30);
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: rgba(164, 82, 23, 0.438);
  width: 5rem;
  height: 3rem;
  border-radius: 5px;
  color: rgb(232, 232, 232);
}

.macaneta {
  position: absolute;
  align-self: flex-start;
  top: calc(0.45 * var(--area-porta-altura));
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: brown;
  transition: 0.2s linear;
}
.macaneta:hover {
  background-color: yellow;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}

.selecionada {
  border-left: 5px solid yellow;
  border-top: 5px solid yellow;
  border-right: 5px solid yellow;
}

.selecionada .numero {
  color: yellow;
}

.selecionada .macaneta {
  background-color: yellow;
}
